<?xml version="1.0" encoding="ISO-8859-1" ?>

<!-- $Id: acl.xml,v 1.3 2007/07/25 11:19:21 vtschopp Exp $ -->

<ShibbolethAccessControlList>

    <AccessControlRule group="SWITCH" id="1">
        <Attribute name="urn:mace:switch.ch:attribute-def:swissEduPersonHomeOrganization">switch.ch</Attribute>
        <Attribute name="urn:mace:dir:attribute-def:eduPersonAffiliation">staff</Attribute>
    </AccessControlRule>

</ShibbolethAccessControlList>

