<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- 
$Id: log4j.xml,v 1.3 2007/08/31 07:50:28 vtschopp Exp $

Copyright (c) 2004. Members of the EGEE Collaboration. http://www.eu-egee.org

org.glite.slcs.server log4j configuration

NOTICE: log4j.xml file must be in classpath
-->
<log4j:configuration debug="false"
    xmlns:log4j="http://jakarta.apache.org/log4j/">
    
    <!-- log file appender -->
    <appender name="logfile" class="org.apache.log4j.FileAppender"> 
        <param name="File" value="/opt/glite/var/log/glite-slcs-server.log"/> 
        <layout class="org.apache.log4j.PatternLayout"> 
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%t] %C{1}.%M: %m%n"/> 
        </layout> 
    </appender> 
    
    <!-- stdout appender -->
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender"> 
        <param name="Target" value="System.out"/> 
        <layout class="org.apache.log4j.PatternLayout"> 
            <param name="ConversionPattern" value="%-5p %C{1}.%M: %m%n"/> 
        </layout> 
    </appender>
    
    <!-- SLCS loggers -->
    <logger name="org.glite.slcs">
        <level value="info"/>
    </logger>
    <logger name="org.glite.slcs.servlet">
        <level value="info"/>
    </logger>
    <logger name="org.glite.slcs.caclient">
        <level value="info"/>
    </logger>
        <logger name="org.glite.slcs.session">
        <level value="info"/>
    </logger>
    <logger name="org.glite.slcs.dn">
        <level value="info"/>
    </logger>
    <logger name="org.glite.slcs.policy">
        <level value="info"/>
    </logger>
    <logger name="org.glite.slcs.audit">
        <level value="info"/>
    </logger>
    <logger name="org.glite.slcs.httpclient">
        <level value="info"/>
    </logger>
    
    <!-- commons loggers -->
    <logger name="org.apache.commons.httpclient">
        <level value="warn"/>
    </logger>
    <logger name="httpclient">
        <level value="info"/>
    </logger>
    <logger name="httpclient.wire">
        <level value="info"/>
    </logger>
    <logger name="org.apache.struts">
        <level value="warn"/>
    </logger>
    
    <!-- root logger level -->
    <root> 
        <priority value="info" /> 
        <appender-ref ref="logfile" /> 
    </root>

</log4j:configuration>
